# System
Thumbs.db

# Venv


# Configs


# Project files
/ocr_result*.txt


# Project dirs
**/__pycache__/
/Capture2Text/
/levels/
/screens/
/Скрины/
/zJJBotDevelopment/*

# Other files
**/*.lnk
!/zJJBotDevelopment/_JJBotDescription.txt
# OCR.cms

# User other data
